body {
    margin: 0px;
    text-align: center;
}

.bannercontainer {
    text-align: center;
    background-image: url(../images/UAbannerbk.jpg);
    color: white;
    object-fit: cover;
    background-repeat: no-repeat;
    object-position: center;
    width: 100vw;
    height: 95vh;
    background-size: cover;

}

.bannercontainer h1 {
    font-weight: bolder;
    font-size: 10vw;
}

@media screen and (min-width: 400px) {
    .bannercontainer h1 {
        font-size: 6vw;
    }

}

.bannercontainersm {
    background-image: url(../images/meblurrybanner.jpg);
    text-align: center;
    background-color: white;
    color: white;
    object-fit: cover;
    background-repeat: no-repeat;
    object-position: center;
    width: 100vw;
    height: fit-content;
    background-size: cover;

}

.bannercontainersm h1 {
    font-weight: bolder;
    font-size: 10vw;
}

@media screen and (max-width: 400px) {
    .bannercontainersm h1 {
        font-size: 6vw;
    }
}

.biocontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 2rem;
    gap: 1rem;
}


.bioimg {
    width: 600px;
    height: auto;
}

.bioimg img {
    width: 100%;
    object-fit: contain;
    object-position: center;
    overflow: hidden;
}

.biotext {
    width: 800px;
}

/* video background hero */
header {
    position: relative;
    background-color: black;
    height: 95vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('/images/meblurrybanner.jpg') black no-repeat center center scroll;
    }

    header video {
        display: none;
    }
}