body {
    margin: 0px;
    text-align: center;
}

.bannercontainer {
    text-align: center;
    background-image: url(../images/UAbannerbk.jpg);
    color: white;
    object-fit: cover;
    background-repeat: no-repeat;
    object-position: center;
    width: 100vw;
    height: 95vh;
    background-size: cover;

}

.bannercontainer h1 {
    font-weight: bolder;
    font-size: 10vw;
}

@media screen and (min-width: 400px) {
    .bannercontainer h1 {
        font-size: 6vw;
    }

}

.bannercontainersm {
    background-image: url(../images/meblurrybanner.jpg);
    text-align: center;
    background-color: white;
    color: white;
    object-fit: cover;
    background-repeat: no-repeat;
    object-position: center;
    width: 100vw;
    height: fit-content;
    background-size: cover;

}

.bannercontainersm h1 {
    font-weight: bolder;
    font-size: 10vw;
}

@media screen and (max-width: 400px) {
    .bannercontainersm h1 {
        font-size: 6vw;
    }
}

.biocontainer {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
height: 100vh;
width: 100%;
padding: 2rem;
gap: 1rem;
}


.bioimg {
    width: 600px;
    height: auto;
}
.bioimg img {
    width: 100%;
    object-fit: contain;
    object-position: center;
    overflow: hidden;
}
.biotext {
    width: 800px;
}