body {}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
}

p,
a,
li,
button,
input,
label,
textarea,
link,
span {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #2A9D8F;
}

.bg-green {
    background-color: #2A9D8F;
}

#hero {
    background-color: #2A9D8F;
    height: 100vh;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;

}


@media screen and (min-width: 900px) {


    .hero {
        animation: scale-up linear forwards;
        animation-timeline: view();
        animation-range: entry 500px exit 500px;
    }

    @keyframes scale-up {
        from {
            transform: scale(1) translatey(0px);
            opacity: 1;

        }

        to {
            transform: scale(1.5) translatey(50px);
            opacity: 0;
        }
    }

}



/* about me section */

#my-passion {}

#about-me {
    background-color: #264653;
    margin: 0;
}

#my-passion {
    background-color: #E9C46A;

}

#my-work {
    background-color: #E76F51;
    padding-top: 2em; 
}



/* from bootstrap  */
#mywork {
    background-color: #E76F51;

}


@media (min-width: 768px) {
    .p-md-5 {
        padding: 3rem !important;
    }
}

@media (min-width: 768px) {
    .m-md-3 {
        margin: 1rem !important;
    }
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}

.text-center {
    text-align: center !important;
}

.p-3 {
    padding: 1rem !important;
}

.position-relative {
    position: relative !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

#esiteimg2 {
    background-image: url('./images/screencapture-uglyavatar-github-io-Udemycourse-2024-03-22-17_15_38.png');
    background-size: cover;
    background-position: top;
    border-top: #E9C46A 2px solid;
    border-left: #E9C46A 2px solid;
    border-right: #ff8c6f 2px solid;
}

@media screen and (min-width: 1800px) {
    #esiteimg2 {
        background-image: url('./images/screencapture-uglyavatar-github-io-Udemycourse-2024-03-22-17_15_38.png');
        background-size: cover;
        background-position: 50% 10%;
    }

}

#esiteimg {
    background-image: url('./images/Whisk\ Whimsy\ design.jpg');
    background-size: cover;
    background-position: top;
    border-top: #E9C46A 2px solid;
    border-left: #E9C46A 2px solid;
    border-right: #ff8c6f 2px solid;
}

@media screen and (min-width: 1800px) {
    #esiteimg {
        background-image: url('./images/Whisk\ Whimsy\ design.jpg');
        background-size: cover;
        background-position: 50% 8%;

    }

}


.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}

.text-center {
    text-align: center !important;
}

@media screen and (min-width: 1000px) {
    .image-container {
        overflow: hidden;
    }

    .image-container img {
        transform: scale(1.2);
        height: 50svh;
        width: 50svw;
        object-fit: cover;

    }
}

@media screen and (min-width: 900px) {


    .skills {
        animation: up-reveal linear forwards;
        animation-timeline: view();
        animation-range: entry 5px exit 10px;
    }

    @keyframes up-reveal {
        from {
            transform: translatey(60px);

        }

        to {
            transform: translatey(-1px);

        }

        30% {
            transform: translatey(50px);
        }

        50% {
            transform: translatey(-10px);
        }
    }

}

@media screen and (min-width: 900px) {


    .experience,
    .skills,
    .goals {
        animation: up-reveal linear forwards;
        animation-timeline: view();
        animation-range: entry 5px exit 10px;
    }

    @keyframes up-reveal {
        from {
            transform: translatey(60px);

        }

        to {
            transform: translatey(-1px);

        }

        30% {
            transform: translatey(50px);
        }

        50% {
            transform: translatey(-10px);
        }
    }

}

#hanging-icons {
    background-color: #264653 !important;

}



footer .nav-link {
    color: #E76F51 !important;
}

footer p {
    color: #E76F51 !important;
}

/* external link */
.external-link {
    position: relative;
    overflow: visible;
    padding-right: 1.5em;
    color: white;
    text-decoration: none;
}

.external-link.big {
    font-size: 4em;
}

.external-link .link-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 1em;
    height: 1em;
    overflow: visible;
}

.external-link .link-icon svg {
    display: block;
    height: 100%;
    overflow: visible;
}

.external-link .link-icon svg>* {
    fill: currentColor;
}

.external-link .link-icon svg .arrow {
    transition: transform 250ms ease;
}

/* Updated hover effect to target the <a> tag */
.external-link:hover .link-icon .arrow {
    transform: translate(10%, -10%);
}


.mysitecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
    
}

/* Media Queries for Tablet */
@media screen and (max-width: 768px) {
    .external-link .link-icon svg {
        scale: 0.5;
        transform: translate(50% -50%);
    }
    .external-link.big {
        font-size: 3em;
    }

}

/* Media Queries for Mobile */
@media screen and (max-width: 576px) {
    .external-link.big {
        
    }
    .mysitecontainer {
        display: block;
        width: 100vw;
        font-size: .8em;
        font-weight: 900
    }
}
@media screen and (max-width: 400px) {
    .external-link.big {
        
    }
    .mysitecontainer {
        display: block;
        width: 100vw;
        font-size: .6em;
        font-weight: 900
    }
}




            @import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');