body {
  
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.content {
  max-width: 2400px;
  margin: auto;
  /* background-color: darkslategrey; */
  /* color: aliceblue; */
  background: linear-gradient(-45deg, #223e4b, #263046, #30525f, #3e5852);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  color: #ddd;
}

a {
  color: rgb(126, 211, 200);
}

/*Main nav*/
.navcontainer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}

.navitem {
  float: left;
}

.navitem a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navitem a:hover:not(.active) {
  background-color: #ddd;
}

.navitem a.active {
  color: white;
  background-color: #04aa6d;
}
/*tables */ 
.imagetexttb {
  border-spacing: 20px;
}

.whtbl {
  border-spacing: 1rem;
  border-color: #666;
  border: #666 solid 1px;
}
table.skillstb {
  border-spacing: 1rem;
}

table.skillstb tr td {
  border-spacing: 10px;
}
.imagetexttb tr td {
  border-spacing: 5rem;

}