body {
    background-color: darkslategrey;
    color: aliceblue;
}

/*Main nav*/
.navcontainer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

.navitem {
    float: left;
}

.navitem a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navitem a:hover:not(.active) {
    background-color: #ddd;
}

.navitem a.active {
    color: white;
    background-color: #04aa6d;
} 